.env
.vscode/

# Python cache
*.pyc
__pycache__/

# Mac files
.DS_Store

# Virtual env
venv/

# Streamlit secrets
.streamlit/secrets.toml

# ML / cache
*.pkl
*.joblib

# Images dataset
datasets/
uploads/

# Voice
librosa
resemblyzer
